# How does my DAO get verified?

On-chain entities looking to issue bonds will need to be verified and go through our diligence process. Verification ensures an entity is who they say they are. Diligence helps us surface relevant information about the borrower. Borrowers can kickoff the verification/diligence process using [this form](https://docs.google.com/forms/d/e/1FAIpQLSddCygZX3vZu3B8oZ9-ohza15muJbWVo-rhz8u2nSJ4M7NRhw/viewform).
